.animationSection {
    position: fixed;
    top: 0px;
    left: 0px;
}
  
  .animationItem {
    position: fixed;
    top: 0px;
    width: 40px;
    height: 40px;
    background-image: url('./animation_image.png');
    background-size: cover;
  }
  
  @keyframes itemAnimationRight {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(720deg);
      top: 120vh;
    }
  }
  
  @keyframes itemAnimationLeft {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(-720deg);
      top: 120vh;
    }
  }